* {
    font-family: Verdana;
}

#kont1{
    display: flex;
    width: 100%;
}

#prawy {
    background-color: #6F79A8;
    color: white;
    height: 140px;
    width: 30%;
}
#lewy {
    background-color: #6F79A8;
    color: white;
    height: 140px;
    width: 70%;
}

#kont2{
    display: flex;
    flex-flow:row wrap;
    position: relative;
}

.box {
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6F79A8;
    overflow: hidden;
    position: relative;
}
.box:hover {
    background-color: #6F79A8;
    color: white;
}
footer {
    position: relative;
    background-color: #6F79A8;
    color: white;
    padding: 5px;
    text-align: right;
}
h6 {
    text-align: center;
}
