body {
    font-family: Garamond, serif;
    background-color: rgb(30, 144, 255);
    color: white;
}

header{
    display: flex;
}

#baner1, #baner3 {
    width: 25%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

#baner2 {
    text-align: center;
    width: 50%;
    height: 200px;
    display: inline-block;
    font-size: 250%;
}

#glowny {
    background-color: rgb(0, 0, 128);
    padding: 60px;
    text-transform: uppercase;
}

footer{
    display: flex;
    
}

#stopka1 {
    text-align: center;
    width: 50%;
    display: inline-block;
}

#stopka2 {
    text-align: right;
    width: 50%;
    display: inline-block;
    padding-top: 100px;
}

p {
    padding: 20px;
    font-size: 200%;
    border: 1px solid rgb(192, 192, 192);
}

p:hover {
    background-color: rgb(192, 192, 192);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
    text-align: left;
}
