/* Domyślne wartości dla wszystkich selektorów */
body {
    font-family: Tahoma, sans-serif;
}

/* Styl dla bloków banera */
#naglowek{
    display: flex;
    flex-flow: row;
}


.banner {
    background-color: #7DA453;
    color: white;
    height: 120px;
    vertical-align: top;
}

/* Szerokość bloków banera */
.banner:first-child, .banner:nth-child(2) {
    width: 40%;
}
.banner:nth-child(3) {

    width: 20%;
    text-align: center;
}

/* Styl dla bloku głównego */
main {
    display: flex;
    flex-wrap: wrap;
   
}

/* Styl dla bloków kalendarza */
.kalendarz {
    background-color: #AED581;
    width: 200px;
    height: 100px;
    margin: 7px;
    border: 1px solid #7DA453;
    text-align: center;
}

.kalendarz > p {
    text-align: left;
}

/* Styl dla bloków kalendarza przy najechaniu */
.kalendarz:hover {
    background-color: #7DA453;
    color: white;
}

/* Styl dla stopki */
footer {
    background-color: #7DA453;
    color: white;
    padding: 5px;
}

/* Styl dla nagłówka piątego stopnia */
h5 {
    text-align: center;
}

/* Styl dla formularza */
form {
    padding-top: 50px;
}

/* Styl dla obrazu */
img {
    width: 120px;
    height: 120px;
}

/* Dodatkowe aby wyglądało tak jak na obrazku */
h1{
    font-size: 30px;
}
