*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
header, footer{
    background-color: #BA6B6C;
    color: white;
    padding: 7px;
}
<<<<<<< HEAD
#lewy{
    float:left;
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
}
#prawy{
    float: left;
=======
aside{
>>>>>>> 6059cd29ec66510bca5cab1d98707d41a21b15c3
    background-color: #EF9A9A;
    width: 20%;
    height: 500px;
}
#srodek{
<<<<<<< HEAD
    float: left;
    justify-content: center;
    background-color: mistyrose;
    width: 60%;
    height: 500px;
}
#dane{
    clear: both;
=======
    background-color: mistyrose;
    width: 20%;
    height: 500px;
}
#dane{
>>>>>>> 6059cd29ec66510bca5cab1d98707d41a21b15c3
    background-color: mistyrose;
    padding: 50px;
}
ol{
    list-style: upper-roman;
}
li{
    text-align: left;
}
h2::first-letter{
    font-size: 170%;
    color: maroon;
}
table{
    padding: auto;
    width: 80%;
    border: solid 1px maroon;
}
img{
    height: 120px;
    margin: 7px;
    box-shadow: 7px 7px 7px dimgray;
}