*{
    font-family: Garamond;
    text-align: center;
}
#lewy1{
    width: 72%;
    background-color: #795548;
    font-size: 170%;
    float: left;
}
#prawy1{
    float: right;
    background-color: #BCAAA4;
    color: #795548;
    height: 400px;
    width: 28%;
}
#lewy2{
    float: left;
    height: 400px;
    width: 72%;
}
#prawy2{
    float: right;
    background-color: #BCAAA4;
    color: #795548;
    height: 400px;
    width: 28%;
}
#lewy3{
    width: 72%;
    float: left;
}

#stopka{
    clear: both;
    background-color: #795548;
    color: white;
    padding: 20px;
}
table{
    margin: auto;
    width: 80%;
    border: solid 1px #795548;
}
tr:hover{
    background-color: sienna;
    color: white;
}
h4{
    font-size: 200%;
}
img{
    padding: 20px;
    border-radius: 40px;
}
a{
    color: white;
}
input[type="radio"] {
    margin: 7px;
}
