* {
    font-family: Cambria, sans-serif;

}

/* Baner i stopka */
.banner, footer {
    background-color: #829EB9;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Bloki lewy i prawy */
.left, .right {
    background-color: #B3C6D9;
    height: 400px;
    width: 25%;
    padding-top: 100px; /* margines wewnętrzny górny */
    float: left;
}


/* Blok środkowy */
.middle {
    background-color: #E0E9F1;
    height: 400px;
    width: 50%;
    text-align: center;
    padding-top: 100px; /* margines wewnętrzny górny */
    float: left;
}

/* Tabela */
table {
    border: 1px solid DimGray;
    width: 80%;
    margin: auto; /* automatyczne marginesy zewnętrzne */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid DimGray;
}

th, td {
    padding: 10px;
}

/* Interakcje z tabelą */
td:hover {
    background-color: SteelBlue;
    color: white;
}

/* Obraz */
img {
    width: 100%;
    border-radius: 20px;
}
