/* Domyślne wartości dla wszystkich selektorów */
body {
    font-family: Helvetica, sans-serif;
}

/* Styl dla banera i stopki */
header, footer {
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
}

/* Styl dla bloku z danymi */
.dane {
    background-color: #FFFFCE;
    color: Olive;
    padding: 10px 150px;
}

/* Styl dla bloku lewego i prawego */
.lewy, .prawy {
    background-color: #E6EE9C;
    width: 25%;
    height: 450px;
    text-align: center;
}

/* Styl dla bloku środkowego */
.srodkowy {
    background-color: #FFFFCE;
    width: 50%;
    height: 450px;
}

/* Styl dla tabeli */
table {
    border: 1px solid Olive;
    margin: auto;
    width: 70%;
}

/* Styl dla nagłówka drugiego stopnia */
h2 {
    text-align: center;
}

/* Styl dla pierwszej litery nagłówka drugiego stopnia */
h2::first-letter {
    font-size: 150%;
    color: Olive;
}

/* Styl dla obrazów */
img {
    height: 100px;
    padding: 7px;
}

/* Styl dla obrazów w momencie najechania kursorem */
img:hover {
    background-color: #B3BC6D;
}
